<!DOCTYPE html>
<html>
  <head>
    <title>RubyDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- application.html.erb in Head tag below turbolinks -->
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <!-- erb: paste this in view -->
    tacotacotacotacotacotaco
    <%= react_component("Main", { greeting: "Hello from react-rails." }) %>
  </body>
</html>
